.page-destinations {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    img.bakraundas {
        object-fit: cover;
        display: flex;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
    }
    h1 {
        font-size: 9em;
        text-shadow: rgba(0, 0, 0, 0.6) 1px 0 10px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .page-lentele {
        position: absolute;
        top: 32%;
        align-items: center;
        width: 35em;
        border-radius: 0.6em;
        background: #242424cc;
        h2 {
            margin: 0.6em 1em;
        }
        h3 {
            margin: 2em 0 0.5em;
        }
        .restrictions {
            margin: 1em 2em;
            text-align: start;
            p {
                margin: 0.5em 0;
            }
        }
        p.lorem {
            margin: 1.8em 1.6em;
            line-height: 1.3em;
        }
        span {
            color: lightgreen;
            &.required {
                color: lightcoral;
            }
        }
        img {
            margin-top: 1em;
        }
        .mygtukai {
            display: flex;
            margin: 1em 7em;
            justify-content: space-around;
        }
    }
}