.hero-container {
    background: url('../images/img-home2.jpg') center center/cover no-repeat;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/img-home2.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
}

.hero-container>h1 {
    color: rgb(58, 113, 117);
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-top: -100px;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 0 10px;
}

.hero-container>p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.rodykle {
    position: relative;
    display: inline-block;
    top: 5%;
}

.rodykle span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: -10px 0;
    animation: animate 2s infinite;
}

.rodykle span:nth-child(2) {
    animation-delay: -0.2s;
}

.rodykle span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

.fa-suitcase-rolling {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        font-size: 50px;
        margin-top: -100px;
        padding: 0 10px;
    }
    .hero-container>p {
        font-size: 30px;
        text-align: center;
        padding: 0 10px;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}