* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.home,
.about,
.deals,
.subscribe {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.deze h1 {
    font-size: 7em;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

.deze .dezute {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.4em 0.4em;
    margin-top: .2em;
    border-radius: .3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    min-width: 500px;
    height: auto;
}

.deze .dezute p {
    position: relative;
    font-size: 1.2em;
    text-align: justify;
    text-shadow: 1px 1px 1px black;
    color: #fff;
    padding: .6em 1.3em;
}

.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('https://res.cloudinary.com/dfx4mjv8p/image/upload/v1619156951/react-app/img-2_mmh9ks.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.deals {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('./images/img-1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('./images/img-8.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inputas {
    justify-content: center;
    display: flex;
    float: left;
    flex-direction: row;
    margin-top: .4em;
}

.inputas input {
    padding: 0.8em 1em;
    outline: none;
    border: none;
    border-radius: 0.2em;
    margin-right: 1em;
    width: 20em;
}

.socialIkonos {
    position: relative;
    font-size: 1.7em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.socialIkonos i {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.4s ease-out;
    margin: 0 .4em;
}

.socialIkonos i:hover {
    color: #fff;
}

.listas {
    padding: 0 .8em;
    margin-top: .1em;
    text-align: start;
}

@media only screen and (max-width: 1400px) {
    .deze h1 {
        margin-top: 5%;
        font-size: 3em;
        color: #fff;
        text-shadow: 1px 1px 1px black;
    }
}

@media only screen and (max-width: 630px) {
    .deze h1 {
        font-size: 9vw;
        margin-top: 2em;
    }
    .inputas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: .4em;
    }
    .inputas input {
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 508px) {
    .deze .dezute {
        min-width: 350px;
        padding: .1em .2em;
        font-size: .9em;
    }
}